<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physics.mapper.LessonMapper">
    <select id="queryAll" resultMap="lessons">
        select * from lesson;
    </select>
    <resultMap id="lessons" type="com.physics.pojo.Lesson">
        <id column="lesson_id" property="id"/>
        <result column="lesson_name" property="name"/>
        <result column="lesson_address" property="address"/>
        <result column="lesson_time" property="time"/>
        <result column="lesson_remarks" property="remarks"/>
        <result column="lesson_type" property="type"/>
    </resultMap>
</mapper>