<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physics.mapper.TeacherMapper">
    <select id="queryNameById" parameterType="int" resultType="String">
        select teacher_name from teacher where teacher_id = #{teacher_id};
    </select>
</mapper>